<div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="icon nalika-edit"
                                        aria-hidden="true"></i>Thông tin người dùng</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <form action="/edit-user" method="POST">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-user"
                                                            aria-hidden="true"> Username</i></span>
                                                    <input type="text" class="form-control" name="Username"
                                                        placeholder="Nhập username" value="{{data.Username}}" disabled>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-envelope"
                                                            aria-hidden="true"> Email</i></span>
                                                    <input type="text" class="form-control" name="Email"
                                                        placeholder="Nhập email" value="{{data.Email}}" disabled>
                                                </div>
                                                <select name="Role"
                                                    class="form-control mg-b-pro-edt pro-edt-select form-control-primary"
                                                    aria-placeholder="Chọn phân quyền">
                                                    <option value="{{CurrentRole.ID}}">{{CurrentRole.Role}}</option>
                                                    {{#each ListRole}}
                                                        <option value="{{this.ID}}">{{this.Role}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <select name="Status"
                                                class="form-control mg-b-pro-edt pro-edt-select form-control-primary"
                                                aria-placeholder="Chọn trạng thái">
                                                <option value="{{data.Status}}">{{data.Status}}</option>
                                                <option value="Active">"Active"</option>
                                                <option value="Pause">"Pause"</option>
                                                <option value="Disable">"Disable"</option>
                                            </select>
                                            <div class="form-group">
                                                <input id="UserImage" name="UserImage" type="file" class="file">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="text-center custom-pro-edt-ds">
                                        <button type="submit" name="ID" value="{{data.ID}}"
                                            class="btn btn-ctl-bt waves-effect waves-light m-r-10">Lưu
                                        </button>
                                        <button type="button" class="btn btn-ctl-bt waves-effect waves-light"
                                            onclick="Previous()">Quay lại</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    function Previous() {
        window.history.go(-1);
    }
</script>

<script>
    $('UserImage').fileinput({
        theme: 'fa',
        dropZoneEnabled: false,
        allowedFileExtensions: ['png', 'jpg', 'gif'],
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">