<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>{{title}}</h4>
                    <div class="add-product">
                        <a href="/add-user">Thêm người dùng</a>
                    </div>
                    <table>
                        <tr>
                            <th>Avatar</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Chỉnh sửa</th>
                        </tr>
                        {{#each data}}
                        <tr>
                            <td><img src="img/new-product/5-small.jpg" alt="" /></td>
                            <td>{{this.Username}}</td>
                            <td>{{this.Email}}</td>
                            <td>
                                <form action="/edit-user">
                                    <button type="submit" name="ID" value="{{this.ID}}" class="btn btn-ctl-bt waves-effect m-r-10 pd-setting-ed">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </form>
                                <button data-toggle="modal" title="Trash" class="pd-setting-ed"
                                    data-target="#exampleModalCenter"><i class="fa fa-trash-o"
                                        aria-hidden="true"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document"
                                        style="color: black;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                            </div>
                                            <div class="text-dark modal-body">
                                                <p>Bạn có chắc chắn muốn xóa người dùng này không?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/user" method="post">
                                                    <button type="submit" class="btn btn-primary" name="ID"
                                                        value="{{this.ID}}">Yes</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">No</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>